extends template 
block content
  div.Page1
    div.result-contain#result
    form(action="/changeTable", method="get") 
        .formPg1
            div.p1
                label(for="G1") חדווא
                input.input#grade1(type="number", name="G1", min="0", max="100", required) 
            div.p2
                label(for="G2") פיזיקה
                input.input#grade2(type="number", name="G2", min="0", max="100", required) 
            div.p3
                label(for="G3") מעם למדינה
                input.input#grade3(type="number", name="G3", min="0", max="100", required) 
            div.p4
                label(for="G4") אווירודינמיקה
                input.input#grade4(type="number", name="G4", min="0", max="100", required) 
            div.p5
                label(for="G5") מטאורולוגיה
                input.input#grade5(type="number", name="G5", min="0", max="100", required) 
            div.p6
                label(for="G6") פלטפורמה
                input.input#grade6(type="number", name="G6", min="0", max="100", required) 
            .input-box1
                input.submit(type="submit" value="best subject to improve") 
            div.upgrade1
                a(href="#", onclick="calculateGrade()") Calculate  