extends template

block content
    div.page2
        div.result-container
            h1 Best Subject to Improve:
            h2 #{v1}
        div.upgrade
            a(href="/page1") UPDATE GRADES
        
