extends template 
block content
    h1 Best Subject to Improve
    div.result-container
        p#bestSubject #{v1}
    div.btn
        button(type="button", onclick="/page1") UPDATE GRADES 
        

   