<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Grade Calculator</title>
</head>
<body>
    <h1>Best Subject to Improve</h1>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>GradeQuest .</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="HomePage.html" class="link active">Home</a></li>
                    <li><a href="services.html" class="link">Services</a></li>
                </ul>
            </div>
        </nav>
    </div>

  <div class="result-container">
    <p id="bestSubject"></p>
    <p id="points"></p>
  </div>

</body>
</html>