<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Grade Calculator</title>
</head>
<body>
    <h1>College Grade Calculator</h1>
    <div class="wrapper">
      <div class="nav">
          <div class="nav-logo">
              <p>GradeQuest .</p>
          </div>
          <div class="nav-menu" id="navMenu">
              <ul>
                  <li><a href="/" class="link">Home</a></li>
                  <li><a href="/services" class="link">Services</a></li>
              </ul>
          </div>
      </div>
        
        <div id="formPg1">
          <div class="p1">
            <label for="grade1">חדווא:</label>
            <input type="number" id="grade1" class="input" min="0" max="100" required>
          </div>
          <div class="p2">
            <label for="grade2"> פיזיקה:</label>
            <input type="number" id="grade2" class="input" min="0" max="100" required>
          </div>
          <div class="p3">
            <label for="grade3">מעם למדינה:</label>
            <input type="number" id="grade3" class="input" min="0" max="100" required>
          </div>
          <div class="p4">
            <label for="grade4"> אווירודינמיקה:</label>
            <input type="number" id="grade4" class="input" min="0" max="100" required>
          </div>
          <div class="p5">
            <label for="grade5"> מטאורולוגיה:</label>
            <input type="number" id="grade5" class="input" min="0" max="100" required>
          </div>
          <div class="p6">
            <label for="grade6"> פלטפורמה:</label>
            <input type="number" id="grade6" class="input" min="0" max="100" required>
          </div>
          <div class="btn">
          <button type="button" onclick="calculateGrade()">Calculate</button>
          </div>
        </form>

        </div>
        
        <div class="btnGrade">
      <button type="button" onclick="calculateBestSubject()">What is the best subject</button>
      
      <p id="bestSubjectResult"></p>
        </div>
    </form>
      <div id="result" class="result-container"></div>

    