<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>GradeQuest .</p>
            </div>
    <div class="nav-menu" id="navMenu">
        <ul>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="/services" class="link active">Services</a></li>
        </ul>
    </div>
        </nav>
        <div class="form-box">
            <header>How can we help you?</header>
            <div class="userProblems">
            <input type="text" id="userProblems">
            </div>
            <form action="/">
            <div class="input-box">
                <input type="submit" class="submit" value="Send">
            </div>
        </form>
        </div>
</div>
</body>
</html>